.col img{
    height: 300px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wish_count{
    color: black; top: 100px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 75px;
}

.container{
    margin-top: 20px;
}

.col{
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
    border: 1px;
    padding: 0;
    border-color: rgb(223, 223, 223);
    border-style: solid;
}

.move-to-bag{
    border: 0;
    border-top: 1px;
    border-style: solid;
    color: red;
    text-decoration: none;
    background-color: transparent;
    font-size: 15px;
    border-color: rgb(223, 223, 223);
    margin: 0;
    padding: 10px 70px;
    cursor: pointer;
}




.btn_size{
    border: 0;
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    margin-right: 20px;
}

/* .image{
    position: relative;
} */

/* .btn-close{
    position: absolute;
    left: 265px;
    top: 190px;
    background-color: rgb(223, 223, 223);
    border-radius: 50px;
    height: 8px;
    width: 8px;
    padding: 5px;
} */